﻿@page "/fibonacci"

<h3>Fibonacci</h3>

<div>
  <h3>Time: @time ms</h3>
</div>
<button @onclick="StartFibonacci">Start</button>

@code {
  private double time = 0;

  public void StartFibonacci() {
    var startTime = DateTime.Now;
    Fib.fib(35);
    time = (DateTime.Now).Subtract(startTime).TotalMilliseconds;

    System.Console.WriteLine(time);
    System.Console.WriteLine(startTime);
    System.Console.WriteLine((new DateTime()).Subtract(startTime));
  }
}
@*
var fib = function(n) {
  if (n <= 1) { return 1; }
  return fib(n - 1) + fib(n - 2);
};
 (() => {
    let startTime = Date.now();
    fib(20);
    console.log(`${Date.now() - startTime} ms`);
})()
 *@