﻿@page "/todo"

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<ul>
  @foreach (var todo in todos)
  {
    <li>@todo.Title</li>
  }
</ul>

<input placeholder="Add New Todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
  private List<TodoItem> todos = new List<TodoItem>{
    new TodoItem
    {
      Title = "New Todo"
    }
  };
  private string newTodo;

  private void AddTodo()
  {
    if (!string.IsNullOrWhiteSpace(newTodo))
    {
      todos.Add(new TodoItem { Title = newTodo });
      newTodo = string.Empty;
    }
  }
}
